a { 
    color: white !important;
    font-family: 'Montserrat';
}   

.navigation {
    margin-right: 2%;
}

 #navBrand {
     margin-left: 1%;
 }

 #navBrand:hover{
     color: rgb(255, 218, 6) !important;
 }

 #toggle{
    background-color: white;
 }