a { 
    color: white !important;
    font-family: 'montserrat';
}   

.navigation {
    margin-right: 2%;
}

 #navBrand {
     margin-left: 1%;
 }

 #navBrand:hover{
     color: rgb(30, 30, 32);
 }

 #toggle{
    background-color: transparent;
 }