@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

.hero{
    /* Sizing */
    width: 100vw;
    height: 100vh;

    /* Text styles */
    text-align: center;
    color: white;
    font-family: 'Montserrat';

    /* Background styles */
    background: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.37)), url('./assets/images/bg-hero.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

.hero h2 {
    font-size: 58pt;
}

.hero-content {
    transform: translate(0,30vh);
}

.btn-hero{
    /* Margins */
    margin-top: 15px;
    /* Border styles */
    border: 0.5px solid white;
    border-radius: 5px;
    /* Styles */
    background-color: rgba(0, 0, 0, 0.562);
    width: 140px;
    height: 40px;
}

.btn-hero:hover{
    background-color: rgb(255, 187, 0);
    border: 0.5px solid black;
}

a {
    text-decoration: none !important;
}