@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

html, body {
    height: 100%;
    width: 100%;
    overflow-x: auto;
}

p a {
  font-family: 'Roboto Slab', sans-serif;
}

#btn-contact{
  font-family: 'open-sans';
}

.desc-div {
    margin: 1%;
    font-family: 'montserrat';
    font-size: 10pt;
    color: rgb(255, 255, 255);
}

/* width */
::-webkit-scrollbar {
    width: 1px;
    height: 1px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #555; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(124, 124, 124); 
  }